[submodule "donna-server"]
	path = donna-server
	url = https://github.com/kishansagathiya/donna-server.git
[submodule "donna-web"]
	path = donna-web
	url = https://github.com/kishansagathiya/donna-web.git
[submodule "donna-app"]
	path = donna-app
	url = https://github.com/kishansagathiya/donna-app.git
[submodule "donna-server-go"]
	path = donna-server-go
	url = https://github.com/kishansagathiya/donna-server-go.git
